{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}
<div class="row">
  <div class="columns small-12 medium-3">
    <a href="{{ url }}">{{ content.field_profile_image }}</a>
  </div>

  <div class="columns small-12 medium-6">
    <h4 class="grid-list-item__title">
      <a href="{{ url }}">{{ label }}</a>
    </h4>
    {{ oho_macros.field_list(content.field_profile_position) }}
  </div>

  {% if content.field_profile_phone_number|render or
      content.field_profile_email|render %}
    <div class="columns small-12 medium-3">
      {% if content.field_profile_phone_number|render %}
        <span class="fas fa-phone">
          {{ content.field_profile_phone_number }}
        </span>
      {% endif %}
      {% if content.field_profile_email|render %}
        <span class="fas fa-envelope">
          {{ content.field_profile_email }}
        </span>
      {% endif %}
    </div>
  {% endif %}
</div>
