{%
  set page_classes = [
    'page',
  ]
%}

{%
  set wrapper_classes = [
    'page-wrapper',
  ]
%}

{%
  set content_classes = [
    'main-content',
  ]
%}

{{ alert_message }}

<div class="{{ page_classes|merge(preprocess_page_classes)|join(' ') }}">

  {% if page.highlighted %}
    <div class="system-region">
      <div class="grid-container">
        <div class="system-messages">
          {{ page.highlighted }}
        </div>
      </div>
    </div>
  {% endif %}

  <header class="site-header">
    <div class="grid-container">
      <a class="site-header__logo" href="/">
        <img width="191" height="175" src="{{ base_path ~ directory }}/assets/img/ULL-logo-inverse.svg" alt="OHO Logo">
      </a>
      <button class="mobile-menu-button" data-button-open-text="{{ 'Open the main menu'|t }}" data-button-close-text="{{ 'Close the main menu'|t }}" data-button-enable-at="0" data-button-disable-at="1024" data-button-open-class="mobile-menu-open">
        <span class="show-for-sr"></span>
      </button>
      <div class="site-header__main">
        <div class="site-header__top">
          {{ page.secondary_nav }}
        </div>
        <div class="site-header__bottom">
          {{ page.primary_nav }}
        </div>
      </div>
    </div>
  </header>

  <div class="{{ wrapper_classes|merge(preprocess_wrapper_classes)|join(' ') }}">
    <main id="main-content" class="{{ content_classes|merge(preprocess_content_classes)|join(' ') }}">
      {% if page.sidebar_first %}
        <div class="cell medium-3">
          {{ page.sidebar_first }}
        </div>
      {% else %}
        <div class="cell medium-auto">
          {{ page.title }}
          {{ page.content }}
        </div>
      {% endif %}
    </main>
  </div>

  {% if page.footer_upper %}
    <section class="sock">
      <div class="grid-container">
        {{ page.footer_upper }}
      </div>
    </section>
  {% endif %}

  <footer class="site-footer">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell initial-6 medium-3 initial-order-1">
          <a class="site-footer__logo" href="/">
            <img width="191" height="175" src="{{ base_path ~ directory }}/assets/img/ULL-logo-inverse.svg" alt="OHO Logo">
          </a>
        </div>

        {{ page.footer_lower }}
      </div>
    </div>
  </footer>
</div>
