{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}

{% block content %}
  <article class="story story--detail">
    <h1 class="story__title">{{ label }}</h1>
    <p>{{ content.field_story_type }}</p>

    {% if node.body.summary %}
      <p class="news__intro-text intro-text">{{ node.body.summary }}</p>
    {% endif %}

    <figure class="story__featured-image featured-image">
      {{ content.field_story_image }}
    </figure>

    <section class="clearfix">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4">
          {{ content.field_story_subject_image }}
          <p>{{ content.field_story_subject_name }}</p>
        </div>
        <div class="cell large-8">
          {{ content.body }}
        </div>
      </div>
    </section>

    {% if story_tags %}
      <div class="tags story__tags">
        <h2 class="tags__heading show-for-sr">{{ 'Tags'|t }}:</h2>
        {{ oho_macros.list(story_tags) }}
      </div>
    {% endif %}
  </article>

  {{ related_stories }}
{% endblock %}
