<article class="medium-4 columns">
  {% if content.field_story_image|render %}
    <a href="{{ url }}">{{ content.field_story_image }}</a>
  {% endif %}
  <h3 class="related-news__title"><a href="{{ url }}">{{ label }}</a></h3>
  <span class="related-news__teaser">{{ content.body }}</span>
</article>
